        
        

<div class = "row articles-container pt-3 ps-5 ms-5 me-5">
    <div class ="col-10 border-bottom">
        <p data-id="{{_id}}">
            {{title}}
            <br>
            {{link}}
        </p>
    </div>
    <div class="col-1 border-bottom">
        <button class = "notes" data-id="{{_id}}">Comments</button>
    </div>
</div>














