


<div class = "row articles-container pt-3 pb-3 ps-5 me-5">
    <div class ="col-10 border-bottom">
        <p>
            User Name: {{title}}
        <br>
            {{title}}'s Comment: {{body}}
        </p>
    </div>
</div>

