


<div class = "row articles-container pt-3 pb-3 ps-5 me-5">
    <div class ="col-9 border-bottom">
        <p>
            User Name: {{title}}
        <br>
            {{title}}'s Comment: {{body}}
        </p>
    </div>
    <div class ="col-1 border-bottom">
        <button type="button" class="delete-btn btn btn-danger" data-id="{{_id}}" id="delete-comment">Delete</button>
    </div>
</div>

